#product-details #taxon-crumbs .carousel-inner .item {text-align: center;}
#product-details #taxon-crumbs .carousel-inner .item a img {
  margin: 5px !important;
  width: 25% !important;
}

#breadcrumbs ol.breadcrumb li:first-child {
  margin-left: 13px;
}
#breadcrumbs ol.breadcrumb li {
  margin-bottom: 10px;
}

.nopadding {padding: 0;}

#breadcrumbs ol.breadcrumb {margin-bottom: 0;}

#product-details .view-product img {height: 100%;}

#product-details .product-information #quantity {margin-bottom: 10px;}

table#cart-detail {margin-bottom: 0;}
