<!-- <nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%#= link_to Spree.t(:home), spree.root_path %></li>
    </ul>
  </div>
</nav> -->

<div class="header-bottom"><!--header-bottom-->
  <div class="container">
    <div class="row", style="margin: 0;">
      <div class="col-md-12 nopadding">
        <div class="col-sm-6 nopadding">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse" style="padding-left: 15px;">
              <li><a class="active" href="index.html">Home</a></li>
              <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                <ul class="sub-menu" role="menu">
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Product Details</a></li> 
                  <li><a href="#">Checkout</a></li> 
                  <li><a href="#">Cart</a></li> 
                  <li><a href="#">Login</a></li> 
                </ul>
              </li> 
              <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                <ul class="sub-menu" role="menu">
                  <li><a href="#">Blog List</a></li>
                  <li><a href="#">Blog Single</a></li>
                </ul>
              </li> 
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
            <li id="search-bar" data-hook>
              <%= render :partial => 'spree/shared/search' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header-bottom-->
