<div class="col-sm-12 middle-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#properties" data-toggle="tab">Properties  </a></li>
    <!-- <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
    <li><a href="#tag" data-toggle="tab">Tag</a></li>
    <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li> -->
  </ul>
</div>

<div class="tab-pane" id="properties" >
  <%= render partial: 'properties' %>
</div>